html,
body,
#root,
.App,
.esri-view {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.esri-instant-apps__header {
  display: flex;
  align-items: center;
  padding-left: 5px;
  height: 5%;
}

.esri-instant-apps__header h1 {
  font-size: 22px;
  margin: 0;
}

.esri-view {
  height: 95%;
}
